#countLable {
  display: block;
  text-align: center;
  font-size: 10em;
  transition: color 0.25s ease;
}

#countLable.grow {
  transform: scale(1, 1);
}
.increase {
  color: green;
}

.decrease {
  color: red;
}

#btnContainer {
  text-align: center;
}

.buttons {
  padding: 10px 20px;
  font-size: 1.5em;
  color: aliceblue;
  background-color: rgb(84, 204, 204);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.25s box-shadow 0.25s;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.buttons:hover {
  background-color: rgb(126, 206, 206);
}
.buttons:active {
  transform: scale(0.95);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

#progressContainer {
  width: 100%;
  background-color: lightgray;
  height: 30px;
  border-radius: 10px;
  margin: 20px auto;
}

#progressBar {
  width: 0%;
  height: 100%;
  background-color: rgb(67, 135, 175);
  border-radius: 10px;
  transition: width 0.5s;
}
